* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contenedor-relojes {
  position: relative;
}
.reloj1 {
  color: #ff910068;
  transition: color 0.6s;
}
.reloj2 {
  color: white;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 99;
  transition: color 0.6s;
}
.reloj3 {
  position: absolute;
  top: -0.9rem;
  left: -0.9rem;
  z-index: 99;
}
/* Tema oscuro */
.reloj-2-claro {
  color: #252525;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  z-index: 99;
  transition: color 0.6s;
}
.contenedor-principal-reloj-oscuro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #252525;
  color: #ff9100;
  font-family: "Orbitron", sans-serif;
  font-weight: regular;
  font-size: 6rem;
  transition: background-color 0.6s, color 0.6s;
}
/* Titulo Oscuro */

.title-reloj-oscuro {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.6s;
}
/* Titulo Claro */
.title-reloj-claro {
  color: #252525;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.6s;
}
/* Tema Claro */

.contenedor-principal-reloj-claro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #feeccf;
  color: #ea4335;
  font-family: "Orbitron", sans-serif;
  font-weight: regular;
  font-size: 6rem;
  transition: background-color 0.6s, color 0.6s;
}
/* Boton oscuro */

.boton-oscuro {
  padding: 1rem;
  border-radius: 50px;
  outline: none;
  border: solid white;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
}
.boton-oscuro:hover,
.boton-oscuro:focus {
  background-color: white;
  color: black;
  transition: color 0.3s, background-color 0.3s;
}

/* Boton claro */
.boton-claro {
  padding: 1rem;
  border-radius: 50px;
  outline: none;
  border: solid #ea4335;
  background-color: transparent;
  color: #ea4335;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  cursor: pointer;
  font-weight: bold;
}
.boton-claro:hover,
.boton-claro:focus {
  background-color: #ea4335;
  color: white;
  transition: color 0.3s, background-color 0.3s;
}

@media screen and (max-width: 425px) {
  /* .contenedor-principal-reloj-oscuro {
    font-size: 3rem;
  }
  .contenedor-principal-reloj-claro {
    font-size: 3rem;
  } */
  .reloj1,
  .reloj2,
  .reloj3,
  .reloj-2-claro,
  .reloj {
    font-size: 3rem;
  }
  .reloj3 {
    top: -0.65rem;
    left: -0.65rem;
  }
  .title-reloj-oscuro,
  .title-reloj-claro {
    font-size: 1.5rem;
  }
}
